[Unit]
Description=Heavy machinery controller
StartLimitIntervalSec=5
StartLimitBurst=5

[Service]
WorkingDirectory=/var/lib/glonax
Restart=always
RestartSec=2
ExecStart=/usr/local/bin/glonaxd --no-auto --systemd -D /var/lib/glonax
PrivateTmp=true

[Install]
WantedBy=multi-user.target
