[Unit]
Description=Wait for CAN Network to be Configured
ConditionCapability=CAP_NET_ADMIN
DefaultDependencies=no
Conflicts=shutdown.target
BindsTo=systemd-networkd.service
After=systemd-networkd.service
Before=control.target shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/systemd-networkd-wait-online -i can0 -i can1 --timeout=5
RemainAfterExit=yes

[Install]
WantedBy=control.target
