# Copyright (C) 2024 Laixer Equipment B.V.
# All rights reserved.
#
# This software may be modified and distributed under the terms
# of the included license.  See the LICENSE file for details.
#
# By default glonaxd will be started in simulation mode.  To start
# glonaxd in production mode, remove the --simulation flag from
# the ExecStart line below. In production mode, at least one can 
# network interface must be configured.
#
# Example: /usr/local/bin/glonaxd --config /etc/glonax/glonaxd.conf

[Unit]
Description=Glonax Server
#Wants=network-online.target
#After=network-online.target
BindsTo=sys-subsystem-net-devices-can0.device sys-subsystem-net-devices-can1.device
After=sys-subsystem-net-devices-can0.device sys-subsystem-net-devices-can1.device

StartLimitIntervalSec=0
StartLimitBurst=5

[Service]
Restart=always
TimeoutStopSec=5

Nice=-20
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=80
IOSchedulingClass=realtime
IOSchedulingPriority=2

DynamicUser=true
SupplementaryGroups=tty dialout
ExecStart=/usr/local/bin/glonaxd
ExecStartPost=/bin/sleep 5
RuntimeDirectory=glonax
ConfigurationDirectory=glonax

ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true

MemoryDenyWriteExecute=true
SystemCallArchitectures=native
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
