[Unit]
Description=Glonax Trace Logger
StartLimitIntervalSec=5
StartLimitBurst=5
Wants=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
WorkingDirectory=/var/lib/glonax
Restart=always
RestartSec=2
ExecCondition=/usr/lib/systemd/systemd-networkd-wait-online -i %I -o carrier
ExecStart=/usr/local/bin/glonax-signetd --daemon %I
PrivateTmp=true

[Install]
WantedBy=multi-user.target
