[Unit]
Description=Glonax Input Event Handler
StartLimitIntervalSec=5
StartLimitBurst=5
BindsTo=sys-subsystem-input-%i.device mosquitto.service
After=sys-subsystem-input-%i.device mosquitto.service

[Service]
WorkingDirectory=/var/lib/glonax
Restart=always
RestartSec=2
ExecStart=/usr/local/bin/glonax-inputd --daemon --workers 4 %I
PrivateTmp=true

[Install]
WantedBy=multi-user.target
