[Unit]
Description=Glonax Heavy Machinery Controller
StartLimitIntervalSec=5
StartLimitBurst=5
Wants=sys-subsystem-net-devices-can0.device
After=sys-subsystem-net-devices-can0.device

[Service]
WorkingDirectory=/var/lib/glonax
Restart=always
RestartSec=2
ExecCondition=/usr/lib/systemd/systemd-networkd-wait-online -i can0 -o carrier
ExecStart=/usr/local/bin/glonax-execd --daemon --workers 8 can0
PrivateTmp=true

[Install]
WantedBy=multi-user.target
Alias=glonaxd.service
