[Unit]
Description=Glonax Input Event Handler
StartLimitIntervalSec=5
StartLimitBurst=5
#After=bluetooth.target glonax.service
After=glonax.service
ConditionPathExists=/dev/input/js0

[Service]
WorkingDirectory=/var/lib/glonax
Restart=always
RestartSec=2
ExecStart=/usr/local/bin/glonax-input /dev/input/js0
PrivateTmp=true

[Install]
WantedBy=multi-user.target
