#!/usr/bin/make -f

clean:
	cargo clean

build:
	cargo build --release

binary:
	dh_clean
	mkdir -p debian/glonax/usr/local/bin
	cp ./target/release/glonax-proxyd debian/glonax/usr/local/bin
	cp ./target/release/glonax-csim debian/glonax/usr/local/bin
	cp ./target/release/glonax-ecud debian/glonax/usr/local/bin
	cp ./target/release/glonax-gnssd debian/glonax/usr/local/bin
	cp ./target/release/glonax-input debian/glonax/usr/local/bin
	cp ./target/release/glonax-netctl debian/glonax/usr/local/bin
	cp ./target/release/glonax-agent debian/glonax/usr/local/bin
	cp ./target/release/glonax-proxyd debian/glonax/usr/local/bin
	cp ./contrib/systemd/glonax-proxy.service  debian/glonax-proxy.service
	cp ./contrib/systemd/glonax-agent.service  debian/glonax-agent.service
	dh_installsystemd --name=glonax-proxy
	dh_installsystemd --name=glonax-agent
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
