Package: glonax
Version: {VERSION}
Depends: adduser (>= 3.11), dpkg (>= 1.10.0)
Maintainer: Laixer Equipment B.V. <info@laixer.com>
Architecture: {ARCH}
Section: restricted/base
Priority: optional
Homepage: https://github.com/Laixer/Glonax
Bugs: https://github.com/Laixer/Glonax
Description: Heavy machinery controller daemon
