Package: glonax
Version: 1.0
Maintainer: Laixer Equipment B.V.> <info@laixer.com>
Architecture: amd64
Homepage: https://github.com/Laixer/Glonax
Bugs: https://github.com/Laixer/Glonax
Description: Heavy machinery controller daemon
